@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply bg-[#7990b3] px-3 py-2 rounded-md;
	}
	.flexCol {
		@apply flex flex-col;
	}
	.fullscrn {
		@apply absolute top-0 left-0 right-0 bottom-0;
	}
	.center {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
}

* {
	outline: none !important;
}
.el-input__wrapper {
	background-color: rgb(160, 160, 160) !important;
	box-shadow: none !important;
}
.el-input__clear,
.el-input__inner {
	color: white !important;
}
.el-input {
	border-radius: 5px !important;
}

.el-button {
	font-weight: 700 !important;
}
i {
	cursor: pointer;
}
